nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px ;
    padding: 10px;
}
nav li:hover{
    background-color: rgba(66, 73, 71, 0.534);
}
nav li a{
    text-decoration: none;
    color: black;
}